{% extends 'admin.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1>Utilisateurs</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td> 
                    {% for role in user.roles %}
                        {% if role == "ROLE_ADMIN" %}
                            Administrateur,
                        {% else %}
                            Utilisateur
                        {% endif %} 
                    {% endfor %} 
                </td>
                <td>
                    <a href="{{ path('edit_user', {'id': user.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun utilisateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}