{% extends 'base.html.twig' %}

{% block title %}cote Stade{% endblock %}

{% block body %}


<div class="page-home">
    <section class="container-fluid pt-3 pb-5">
        <div class="header-raccourci">
            <div class="text-center">
                <a href="/" class="header-content">
                    <img class="go-home-btn" src="/icons/back.svg"/>
                    <img class="img-responsive logo" src="/images/logo.png" alt="">
                </a>
            </div>
        </div>

        <div class="mt-5 text-white d-flex justify-content-center">
            <ol>
                <li>Appuyez sur le bouton de menu de votre navigateur (à droite de la barre de navigation)</li><br/>
                <li>Google Chrome: appuyez sur "Ajouter à l'écran d'accueil" </li><br/>
                <li>Mozilla Firefox: appuyez sur "Page" puis "Ajouter en raccourci"</li>
            </ol> 
        </div>
    </section>

</div>

{% endblock %}
