
{% extends 'admin.html.twig' %}

{% block title %}Éditer un Adherent{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1>Éditer un Adherent</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
         {% if is_granted('ROLE_ADMIN') %}
          <a href="{{ path('admin_adherent') }}" class="btn btn-sm btn-outline-primary mr-1">Retour</a>
        {% endif %}
           
            {{ include('admin/adherent/_delete_form.html.twig') }}
        </div>
    </div>

    {{ include('admin/adherent/_form.html.twig', {'button_label': 'Éditer'}) }}

{% endblock %}